<!--
 * @Author: your name
 * @Date: 2020-05-22 15:57:35
 * @LastEditTime: 2020-05-22 16:03:59
 * @LastEditors: your name
 * @Description: In User Settings Edit
 * @FilePath: \rydemo\src\App.vue
--> 
<template>
  <div id="app">

  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>

</style>
